<div class="image-cont">
  <div class="background-div">
    <!-- Content inside the div goes here -->
  </div>
</div>

<div class="container">
  <section id="home" class="content-container">
    <div class="typewriter-content">
      <h1 class="main-title">Plan Trekker</h1>
    </div>
    <h2 class="sub-title">
      Designing <span class="styled-text">adventures </span>to suit Your every
      desire
    </h2>

    <button
      class="btn btn-dark btn-large btn-main"
      (click)="srollTo('bundles')"
    >
      Get started
    </button>
  </section>

  <hr />

  <section id="bundles" class="content-container">
    <h2 class="title section-title">Let us plan your ideal day for You</h2>

    <div class="flex-container">
      <div *ngFor="let video of adVideos" class="flex-item">
        <div class="video-cover">
          <div class="video-caption">
            <h1>{{ video.title }}</h1>
            <div class="video-footer">
              <p>{{ video.text }}</p>
              <a href=""
                ><i class="bi bi-arrow-right-circle-fill icon-lg"></i
              ></a>
            </div>
          </div>
        </div>
        <!-- Video 1 -->
        <video class="video" autoplay muted loop>
          <source [src]="video.videoUrl" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </section>
</div>

<a
  #backButton
  class="btn-huge btn-bottom-corner btn-bounce btn-black"
  (click)="srollTo('home')"
  (scroll)="onScroll($event)"
>
  <i class="bi bi-arrow-up-circle-fill"></i>
</a>
