.image-cont {
  right: 0%;
  top: 33%;
  position: absolute;
  height: 100vh;
  width: 100vh;
  z-index: -1;
}

.background-div {
  position: relative;
  background-image: url("/assets/airplane-f-small.png");
  background-size: contain; /* Maintain aspect ratio */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-position: center; /* Center the image */
  height: 100%; /* Adjust height as needed */
}

.styled-text {
  color: #a9a9a9;
}

.typewriter-content {
  display: inline-block;
  width: fit-content;
}

.btn-main {
  border-radius: 50px;

  transition: transform 0.4s;
}

.btn-main:hover {
  transform: scale(120%);
}

.main-title {
  font-size: var(--fs-main);
  font-weight: 800;
  width: fit-content;
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  width: 0;
  animation: typing 1s steps(50, end) forwards, blink 1.5s infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: orange;
  }
}

.section-title {
  text-align: center;
  padding-bottom: 4rem;
  padding-top: var(--video-padding);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Change this according to your layout preference */
  align-items: center;
  padding: 0% var(--video-padding) 0%;
}

.flex-item {
  flex-basis: calc(
    var(--video-flex-percent) - 20px
  ); /* Adjust this value according to your needs */
  margin: 10px; /* Adjust margin as needed */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Crop the video if it overflows */
  border-radius: 10px;

  position: relative;

  transition: transform 0.5s;
}

.video-cover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  inset: 0; //sets the pseudo full width full height
  background: linear-gradient(180deg, rgba(21, 22, 24, 0.24) 0%, #151618 100%);
  opacity: 0;

  transition: opacity 0.5s ease-in-out;
}

.flex-item:hover {
  transform: scale(140%);
  z-index: 2;
  opacity: 1;
}

.flex-item:hover .video-cover::before {
  opacity: 1;
}

.flex-item:hover .video-caption {
  opacity: 1;
}

.video-caption {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  color: antiquewhite;
  opacity: 0;
  font-size: var(--fs-video-caption);

  transition: opacity 0.5s ease-in-out;
}

.video-footer {
  display: flex;
  justify-content: space-between;
}

.video {
  width: 100%;
  height: var(--video-hight);
  object-fit: cover; /* Crop the video to cover the container */
}

.icon-lg {
  font-size: 30px;
  z-index: 10;
  color: antiquewhite;
}

.btn-huge {
  font-size: var(--fs-xl);
}

.btn-bottom-corner {
  position: fixed;
  right: 3%;
  bottom: 5%;
}

.btn-bounce {
  animation: bounce 0.7s infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }

  to {
    transform: translateY(-15px);
  }
}

.bottom-text {
  font-weight: 900;
  font-size: var(--fs-600);
  margin: 3% 3% 10% 3%;
}
