<div class="container">
  <div class="title-container">
    <h1 class="title">Your Adventure Book</h1>
    <h2 class="sub-title">Designing adventures to suit Your every desire</h2>

    <button class="btn btn-dark btn-large" routerLink="/packages">
      View bundles
    </button>
  </div>
</div>

<div class="video-container">
  <div class="video-gradient"></div>
  <div class="video-background">
    <video autoplay muted loop>
      <source src="assets/main-video.mp4" type="video/mp4" />
      Your browser does not support the video tag.
    </video>
  </div>
</div>

<!-- <div>
  <h2 class="text-title">Designing adventures to suit Your every desire</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vel
    tincidunt enim, eu porttitor mi. Maecenas quis mauris sagittis, elementum
    dui quis, efficitur lacus. Nulla eget nisl a nisi elementum luctus. Duis et
    dui lectus. Cras sem felis, iaculis non ex molestie, condimentum rutrum
    sapien. Sed varius, ex a gravida maximus, orci mauris facilisis ex, ut
    sollicitudin nisi magna nec tellus. Pellentesque a volutpat enim, eu
    hendrerit orci. In porttitor lobortis lorem, quis varius felis. Etiam et
    laoreet nunc. Proin ultrices quis nunc non efficitur. Vivamus aliquet orci
    vel risus euismod, in tempus est iaculis. Vestibulum pretium, purus ut
    tristique facilisis, turpis odio efficitur tortor, vitae facilisis sapien
    lectus sit amet eros. Sed et gravida ex. Sed condimentum tempus neque,
    congue venenatis purus pellentesque vitae. Nunc ultricies sapien at elit
    sagittis semper. Maecenas molestie enim eu nibh rhoncus cursus. In congue
    pretium molestie. Maecenas tempor dui vel nulla tincidunt tempor. Nam congue
    massa sed mauris molestie rutrum. Curabitur in urna mauris. Donec lobortis
    nulla eu ipsum pharetra ultricies. Morbi ac rhoncus nunc, quis tincidunt
    nulla. Sed interdum ipsum metus, id auctor mauris laoreet a. Vivamus non
    turpis lobortis, euismod nisi vitae, fermentum quam. Pellentesque
    scelerisque diam velit, eu luctus sem efficitur quis. Morbi at egestas
    augue. Phasellus venenatis viverra risus at molestie. Sed non dignissim
    lacus. Proin at nulla eget est faucibus pellentesque at dapibus leo. Vivamus
    sed vestibulum augue. Nunc placerat auctor tellus et rutrum. In ligula orci,
    pharetra luctus ex nec, tempus consectetur arcu. Phasellus faucibus mi id
    odio tincidunt sagittis. Aliquam viverra, sem quis ornare molestie, mauris
    enim scelerisque arcu, in imperdiet dui nisl in nibh. Proin purus justo,
    fermentum nec rutrum et, aliquam ac metus. Integer tristique magna urna, ac
    hendrerit tortor dignissim quis. Quisque vel molestie ipsum. Proin
    consectetur imperdiet est quis interdum. Etiam tempus sem at justo venenatis
    mollis. Fusce consequat, risus non tempor tristique, enim turpis bibendum
    felis, sit amet scelerisque turpis risus ac arcu. Vestibulum velit ipsum,
    placerat at semper eu, ullamcorper et elit. Nam bibendum efficitur orci,
    vitae molestie purus interdum semper. Nunc sagittis at enim sit amet
    dignissim. Nulla sem erat, lobortis in lorem sed, commodo pharetra ligula.
    Mauris a volutpat erat. Sed tincidunt sodales tortor, id auctor nisl
    ultricies vel. Pellentesque fringilla dapibus nibh, sed commodo urna. Nulla
    auctor convallis laoreet. Donec eros justo, tempor facilisis metus at, porta
    viverra ligula. Aliquam elit magna, dapibus et tempor et, feugiat id mauris.
    Duis ac augue egestas, semper ante eu, iaculis eros. Curabitur molestie
    augue vel sagittis blandit.
  </p>
  <p>
    Pristique facilisis, turpis odio efficitur tortor, vitae facilisis sapien
    lectus sit amet eros. Sed et gravida ex. Sed condimentum tempus neque,
    congue venenatis purus pellentesque vitae. Nunc ultricies sapien at elit
    sagittis semper. Maecenas molestie enim eu nibh rhoncus cursus. In congue
    pretium molestie. Maecenas tempor dui vel nulla tincidunt tempor. Nam congue
    massa sed mauris molestie rutrum. Curabitur in urna mauris. Donec lobortis
    nulla eu ipsum pharetra ultricies. Morbi ac rhoncus nunc, quis tincidunt
    nulla. Sed interdum ipsum metus, id auctor mauris laoreet a. Vivamus non
    turpis lobortis, euismod nisi vitae, fermentum quam. Pellentesque
    scelerisque diam velit, eu luctus sem efficitur quis. Morbi at egestas
    augue. Phasellus venenatis viverra risus at molestie. Sed non dignissim
    lacus. Proin at nulla eget est faucibus pellentesque at dapibus leo. Vivamus
    sed vestibulum augue. Nunc placerat auctor tellus et rutrum. In ligula orci,
    pharetra luctus ex nec, tempus consectetur arcu. Phasellus faucibus mi id
    odio tincidunt sagittis. Aliquam viverra, sem quis ornare molestie, mauris
    enim scelerisque arcu, in imperdiet dui nisl in nibh. Proin purus justo,
    fermentum nec rutrum et, aliquam ac metus. Integer tristique magna urna, ac
    hendrerit tortor dignissim quis. Quisque vel molestie ipsum. Proin
    consectetur imperdiet est quis interdum. Etiam tempus sem at justo venenatis
    mollis. Fusce consequat, risus non tempor tristique, enim turpis bibendum
    felis, sit amet scelerisque turpis risus ac arcu. Vestibulum velit ipsum,
    placerat at semper eu, ullamcorper et elit. Nam bibendum efficitur orci,
    vitae molestie purus interdum semper. Nunc sagittis at enim sit amet
    dignissim. Nulla sem erat, lobortis in lorem sed, commodo pharetra ligula.
    Mauris a volutpat erat. Sed tincidunt sodales tortor, id auctor nisl
    ultricies vel. Pellentesque fringilla dapibus nibh, sed commodo urna. Nulla
    auctor convallis laoreet. Donec eros justo, tempor facilisis metus at, porta
    viverra ligula. Aliquam elit magna, dapibus et tempor et, feugiat id mauris.
    Duis ac augue egestas, semper ante eu, iaculis eros. Curabitur molestie
    augue vel sagittis blandit.
  </p>
</div> -->
