<div class="container">
  <section class="package-page-container">
    <h2 class="package-title">
      Choose which type of event are you interested in
    </h2>

    <div class="package-container">
      <div class="package-content">
        <h1>Adventure</h1>
        <br />
        <span>
          Embark on an epic outdoor adventure expedition, uncovering hidden
          wonders and iconic natural landmarks. Traverse rugged trails and
          serene wilderness, immersing yourself in the vibrant pulse of nature's
          rhythm. Prepare for an adrenaline-fueled journey of discovery and
          excitement as you witness breathtaking landscapes and create
          unforgettable memories amidst the great outdoors.
        </span>
      </div>
      <!-- <img class="package-img" src="assets/city.jpg" alt="" /> -->
      <!-- Video 1 -->
      <video class="package-img" autoplay muted loop>
        <source src="assets/adventure.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>

    <div class="package-container">
      <!-- <img class="package-img" src="assets/party.jpg" alt="" /> -->
      <video class="package-img" autoplay muted loop>
        <source src="assets/party-2.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <div class="package-content">
        <h1>Party</h1>
        <br />
        <span>
          Dive into the ultimate party experience, where the music pumps, the
          laughter flows, and the energy is electrifying. Get ready to dance the
          night away as you mingle with fellow revelers and embrace the vibrant
          atmosphere. From pulsating clubs to chic lounges, the city is your
          playground for an unforgettable night of celebration and fun.
        </span>
      </div>
    </div>
  </section>
</div>
