span {
  padding-top: 1vh;
  font-size: var(--fs-500);
}

.bundle-flexbox {
  padding-top: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
}

.bundle-box {
  flex-basis: calc(33.33% + 20px);
  background-color: white;
  height: 50vh;
  border-radius: 15px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.4);

  .box-title {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 3vh;
  }

  .box-inner {
    display: flex;
    padding-bottom: 2vh;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    img {
      height: 100px;
      width: 100px;
    }
  }
}
