.container {
  min-height: 100vh;
  padding-top: 12vh;
}

span {
  padding-top: 1vh;
  font-size: var(--fs-500);
  max-width: 40vw;
  text-align: center;
}

.date-title {
  font-size: clamp(2rem, 3vw, 3rem);
  font-weight: 600;
}

.date-flex {
  display: flex;
  flex-direction: column;
}

.bundle-flexbox {
  padding-top: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 30px;
  flex-wrap: var(--flex-wrap);
}

.bundle-box {
  flex-basis: calc(var(--flex-basis) + 20px);
  background: radial-gradient(
    circle,
    white,
    rgb(234, 236, 227),
    rgb(165, 175, 202)
  );
  height: 50vh;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgb(0, 0, 0, 0.5);

  .box-title {
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 3vh;
  }

  .box-inner {
    display: flex;
    padding-bottom: 2vh;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    img {
      height: 50px;
      width: 50px;
    }
  }
}

.lines {
  z-index: -10;
  position: absolute;
  width: 35%;
  top: 9%;
  left: 3%;
  stroke-dasharray: 40 40;
  stroke-linecap: round;
  stroke-dashoffset: 600;
  stroke: #8b7e7c;

  #line {
    animation: 10s linear infinite dash;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
