<div class="container top-pos">
  <section class="page-container">
    <h2 class="page-title">Choose which type of event are you interested in</h2>

    <span> Are you confused about what to with your loved one? </span>
    <span> Choose a ready-made package and enjoy a day of perfection! </span>

    <div class="bundle-flexbox">
      <div *ngFor="let box of bundleBoxes" class="bundle-box">
        <h2 class="box-title">{{ box.title }}</h2>
        <div *ngFor="let item of box.item" class="box-inner">
          <div>{{ item.title }}</div>
          <img [src]="item.svgPath" alt="" />
        </div>
      </div>
    </div>
  </section>
</div>
