<div class="container page-content-container">
  <div class="bundles-container">
    <div class="title">Different packages</div>

    <div class="card-container">
      <div *ngFor="let card of packageCards" class="card-item">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem">
          <div class="card-header">{{ card.header }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ card.title }}</h5>
            <p class="card-text">
              {{ card.body }}
            </p>
            <a
              (click)="navigateToPackage(card)"
              class="btn btn-success btn-card"
              >Open</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
