<nav
  class="navbar navbar-expand-lg scroll-watcher nav-positon"
  [ngClass]="isMain ? '' : 'navbar-background'"
>
  <div class="container-fluid">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        aria-label="Toggle navigation"
        (click)="showNavbar()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <div class="nav-container">
          <div class="inner">
            <img src="assets/logo_2.png" alt="" style="height: 70px" />
            <a class="nav-link" routerLink="main" routerLinkActive="active"
              >Home</a
            >
            <!-- <a class="nav-link" routerLink="/about-us" routerLinkActive="active"
              >About us</a
            > -->
            <a class="nav-link" routerLink="/blogs" routerLinkActive="active"
              >Blogs</a
            >
          </div>
          <!-- <div class="inner">
            <a class="nav-link"><i class="bi bi-tiktok"></i></a>
            <a class="nav-link"><i class="bi bi-instagram"></i></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="navOpened" class="nav-mobile-container">
    <a class="nav-link" routerLink="main" routerLinkActive="active">Home</a>
    <!-- <a class="nav-link" routerLink="/about-us" routerLinkActive="active"
      >About us</a
    > -->
    <a class="nav-link" routerLink="/blogs" routerLinkActive="active">Blogs</a>
    <!-- <div class="inner">
      <a class="nav-link"><i class="bi bi-tiktok"></i></a>
      <a class="nav-link"><i class="bi bi-instagram"></i></a>
    </div> -->
  </div>
</nav>
