<nav
  class="navbar sticky-top navbar-expand-lg navbar-background scroll-watcher"
>
  <div class="container-fluid">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="nav-container">
          <img src="assets/icon.png" alt="" style="height: 70px" />
          <a class="nav-link" routerLink="main" routerLinkActive="active"
            >Home</a
          >
          <a class="nav-link" routerLink="/packages" routerLinkActive="active"
            >Packages</a
          >
          <a class="nav-link" routerLink="/blogs" routerLinkActive="active"
            >Blogs</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
