.nav-positon {
  position: fixed;
  z-index: 100;
  width: 100%;
}

.nav-container {
  font-size: 1.5rem;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  width: 80vw;
  margin-left: 10vw;
  align-items: center;

  .inner {
    display: flex;
    gap: 60px;
    justify-content: end;
  }
}

.navbar-background {
  background-color: #dfcfcf;
  opacity: 0.8;
}

.navbar-background:hover {
  animation: scroll-watcher linear 1s;
  animation-fill-mode: forwards; //animation stays after timeline
}

.scroll-watcher {
  animation: scroll-watcher linear;
  animation-timeline: scroll();
}

@keyframes scroll-watcher {
  20%,
  100% {
    opacity: 0.98;
    background-color: #dfcfcf;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.2);
  }
}

.nav-link {
  padding: 2% 0;
  font-size: 2rem;
}

a {
  transition: transform 0.5s;
}

a:hover {
  transform: translateY(-5px) scale(115%);
}

.active {
  font-weight: 700;
}
