<hr />

<div class="container">
  <div class="footer-container">
    <div class="item-width">
      <h5 class="footer-title">Plan Trekker</h5>
      <button class="btn btn-dark btn-main" (click)="srollTo('bundles')">
        Get started
      </button>
    </div>
    <img src="assets/logo_2.png" alt="" />

    <div class="footer-container-inner item-width">
      <div>
        <h5>Legal</h5>
        <div>Term and Conditions</div>
        <div>Privacy Policy</div>
      </div>

      <div>
        <h5>Support</h5>
        <div>Contact Us</div>
      </div>
    </div>
  </div>
</div>
