<hr />

<div class="container">
  <div class="footer-container">
    <div class="item-width">
      <h5 class="footer-title">Your Adveture Book</h5>
      <button class="btn btn-dark btn-main" (click)="srollTo('bundles')">
        Get started
      </button>
    </div>
    <img src="assets/icon.png" alt="" style="height: 120px" />

    <div class="footer-container-inner item-width">
      <div>
        <h5>Legal</h5>
        <div>Term and Conditions</div>
        <div>Privacy Policy</div>
      </div>

      <div>
        <h5>Support</h5>
        <div>Contact Us</div>
      </div>
    </div>
  </div>
</div>
