/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";

// Set the MOBILE view
:root {
  --video-xl: 15rem;
  --video-flex-percent: 50%;
  --video-hight: 13rem;
  --video-footer-width: 25vw;

  --fs-video-caption-title: 1.2rem;
  --fs-video-caption-footer: 0.65rem;

  --footer-img-size: 60px;

  --fs-main: clamp(2rem, 8vw, 9rem);
  --fs-xl: 2.5rem;
  --fs-600: 1.5rem;
  --fs-500: 0.75rem;
  --fs-400: 0.5rem;

  --blog-card-w: 22vw;
  --blog-card-h: 60vh;
}

// Set the DESKTOP view
@media (min-width: 550px) {
  :root {
    --video-xl: 15rem;
    --video-flex-percent: 33.33%;
    --video-hight: 15rem;
    --video-footer-width: 16vw;

    --fs-video-caption-title: 1.4rem;
    --fs-video-caption-footer: 1rem;

    --footer-img-size: 120px;

    --fs-xl: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 550px) and (max-width: 1100px) {
  :root {
    --video-flex-percent: 50%;
    --video-padding: 4% !important;
    --video-footer-width: 22vw;

    --fs-video-caption-title: 1.3rem;
    --fs-video-caption-footer: 0.8rem;

    --footer-img-size: 80px;

    --fs-xl: 3rem;
    --fs-600: 2rem;
    --fs-500: 1.1rem;
    --fs-400: 0.75rem;
  }
}

// Set video caption always be visibleo n mobile devices
@media (hover: hover) {
  :root {
    --video-opacity: 0;
    --video-cover-opacity: 0;
  }
}

@media (hover: none) {
  :root {
    --video-opacity: 1;

    --video-cover-opacity: 0.7;
  }
}

.content-container {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.top-pos {
  padding-top: 10vh;
}

.title {
  font-size: var(--fs-xl);
  font-weight: 800;
}

.sub-title {
  color: black;
  font-weight: 700;
  font-size: var(--fs-600);
  padding-bottom: 25px;
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.page-title {
  color: black;
  margin-top: 5%;
  font-size: var(--fs-xl);
  font-weight: 700;
  text-align: center;
  max-width: 50vw;
}

.btn-large {
  width: 30vh;
  height: 10vh;
  border-radius: 15px;
  font-size: var(--fs-600) !important;
}

.btn-black {
  color: black;
  opacity: 0;

  transition: color 0.4s;
}

.btn-black:hover {
  color: #6e5c61;
  cursor: pointer;
}

body {
  background: rgb(175, 154, 154);
  background: linear-gradient(
    90deg,
    rgba(175, 154, 154, 1) 0%,
    rgba(221, 220, 220, 1) 41%,
    rgba(225, 226, 211, 1) 69%,
    rgba(195, 195, 244, 1) 100%
  );

  background-size: 300% !important;
  scroll-behavior: smooth !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;

  animation: 12s ease-in-out infinite color !important;
}

@keyframes color {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.hidden {
  opacity: 0;
  filter: blur(2px);
  transform: translateX(-50%);
  transition: all 0.6s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
