/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.css";

// Set the MOBILE view
:root {
  --video-padding: 7%;
  --video-xl: 15rem;
  --video-flex-percent: 50%;
  --video-hight: 13rem;

  --fs-main: clamp(2rem, 8vw, 6rem);
  --fs-video-caption: clamp(0.5rem, 1rem, 2rem);
  --fs-xl: 2.5rem;
  --fs-600: 1.5rem;
  --fs-400: 0.5rem;

  --blog-card-w: 22vw;
  --blog-card-h: 60vh;
}

// Set the DESKTOP view
@media (min-width: 550px) {
  :root {
    --video-padding: 0%;
    --video-xl: 15rem;
    --video-flex-percent: 33.33%;
    --video-hight: 15rem;

    --fs-xl: 3rem;
    --fs-600: 2rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 550px) and (max-width: 1100px) {
  :root {
    --video-flex-percent: 50%;
    --video-padding: 4% !important;
  }
}

.content-container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title {
  font-size: var(--fs-xl);
  font-weight: 800;
}

.sub-title {
  font-size: var(--fs-600);
  padding-bottom: 25px;
  text-align: center;
}

.btn-large {
  width: 30vh;
  height: 10vh;
  border-radius: 15px;
  font-size: var(--fs-600) !important;
}

.btn-black {
  color: black;
  opacity: 0;

  transition: color 0.4s;
}

.btn-black:hover {
  color: #808080;
  cursor: pointer;
}

body {
  background-size: 11px 11px;
  background-image: linear-gradient(to right, #f2f2f2 10px, transparent 10px),
    linear-gradient(to bottom, #f2f2f2 10px, transparent 10px) !important;
  scroll-behavior: smooth !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}
